.terraform*
terraform.tfstate
terraform.tfstate*

# cache
**/.cache
__pycache__
*.pyc
*.pyo

# virtual environment
.venv/
.python-version


# custom
cloud/aws-dev_course/web_app/uploads

# artefacts
*.zip